@import url(https://fonts.googleapis.com/css?family=Poppins);
@import url(https://fonts.googleapis.com/css?family=Anton);

:root {
    /* primary palette */
    /* --primary-color: #274e89; */
    --primary-color: #fefefe;
    --secondary-color: #b16565;
    /* --secondary-color: #e5e5e5; */
    /* --primary-text: #347; */
    --primary-text: #444;
    /* --light-text: #7ef; */
    --light-text: #d74533;

    --anton: 'Anton', sans-serif;
    --poppins: 'Poppins', sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-shadow: border-box;
}

body {
    background-color: var(--secondary-color);
    color: var(--primary-text);
    font-family: var(--poppins);
}

header {
    /* TODO: blend header into hero */
    /* background: var(--primary-color); */
    background-image: 
        linear-gradient(
            145deg, 
            rgba(255, 255, 0, 0.1) 40%, 
            rgba(255, 166, 0, 0.2) 50%,
            rgba(255, 0, 0, 0.3) 70%,
            rgba(149, 0, 149, 0.2)),
            url('../images/annie-spratt-s1N_aVIviqA-unsplash.jpg');
        
    /* background: var(--secondary-color); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    top: 0;
    padding: 1rem 5rem;
    /* display: flex; */
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    z-index: 9999;
}



header h1 {
    color: var(--light-text);
    background: var(--primary-color);
    /* background: linear-gradient(to bottom, #fffe, #fffb); */
    background: #fffe;
    backdrop-filter: blur(4px); 
    border-radius: 2.4em;
    padding: .3em;
    padding: .8em 1em;
    text-align: center;
    font-family: var(--poppins);
    /* font-weight: 500; */
    font-style: bold;
    margin-left: 2rem;
    /* text-shadow:  0 3px rgba(0, 0, 0, 0.25); */
    box-shadow: 0 3px rgba(0, 0, 0, 0.25);
}

header span {
    border-bottom: 2px solid;
    color:#444;
    width: 80%;
    height: 4px;
}

/* placeholder icon */
/* disabled */
header i {
    font-size: 3rem;
}

header a {
    padding: .8em 1em;
    font-family: var(--anton);
    text-decoration: none;
    color: var(--primary-text);
    color: var(--primary-color);
    margin-right: 5%;
    text-shadow: 0 3px rgba(0, 0, 0, 0.25);
}

header a:hover {
    background: var(--primary-color);
    border-radius: 2.4em;
    color: var(--light-text);
    text-shadow: none;
    box-shadow: 0 3px rgb(0 0 0 / 25%);

}

header nav {
    flex: 2;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* flex: 1 10%; */
    
}

/* TODO: [*] => fix image roundness wonkiness  */
/* TODO: [*] => make image hang over header 50% */
.profile-image {
    position: relative;
    display: inline-flex;
    top: 50px;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    /* overflow: hidden; */
    background-image: url('../images/portraits/profile_picture.JPG');
    background-repeat: no-repeat;
    background-size: 230%;
    background-position: 55% 35%;
    box-shadow: 0 4px rgba(0, 0, 0, 0.25);
}

.profile-image img {
    /* position: absolute; */
    max-height: 100%;
}

footer {
    background: var(--primary-color);
}

main {
    font-size: small;
}

section {
    padding: 2rem 4rem;
    text-align: center; 
    /* TODO: adjust section header based on vp size */
}

.flex-row {
    border-bottom: 4px solid;
    border-color: #fefefe;
    width: 50%;
    margin: 0 auto 1.5em;

}

/* TODO: remove section spacers */
.spacer {
    aspect-ratio: 900/20;
    min-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-image: url('../images/annie-spratt-s1N_aVIviqA-unsplash.jpg'); */
}

.hero {
    /* TODO: add bg image */
    background: var(--primary-color);
    background-image: url('../images/portraits/profile_picture.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.hero h2 {
    text-align: right;
    width: 35%;
    display: inline;
}

.hero-content-wrapper {
    text-align: left;
    width: 45%;
}


.layer1 {
    background-image: url('../images/spacers/peaks-07.svg');
}
.layer1 {
    background-image: url('../images/spacers/peaks-07.svg');
}

.flip {
    transform: rotate(180deg);
}


.sections {
    width: 100%;
}


/* TIMELINE NAVIGATION */
.timeline {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.timeline-nav {
    flex: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.timeline-nav-item {
    position: sticky;
}

/* WORKS SECTION */


.cards {
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
    align-items: center;
    justify-content: space-around;
}

/* TODO: make first card larger */
/* fix max width of nth-child(:first-child) */
.card {
    margin: 1em;
    flex: 25%;
    border-radius: 1em;
    display: flex;
    /* flex-direction: column; */
    overflow: hidden;
    background: var(--primary-color);
    box-shadow: 1px 3px .25rem rgba(0, 0, 0, 0.25);

    /* from DevTools */
    height: 250px;
    /* height: 500px; */
    flex: 25%;
    flex-direction: row;
}

.card:first-child {
    flex: 45%;
}

.project-img {
    overflow: hidden;
    position: relative;

    /* from DevTools */
    overflow: hidden;
    position: relative;
    flex: 2 0 45%;
    height: 100%;
}

.card h3 {
    position: absolute;
    left: 5%;
    top: 3%;
    font-size: 2em;
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}

.card p {
    padding: 0.5em;
}

/* TODO: add links to projects */
.project-img img {
    width: 100%;

    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Simple Overlay Hover Effect credits: Arnaud Balland */
/* https://codepen.io/ArnaudBalland/pen/vGZKLr */
.overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 99%;
    /* for row flex */
    height: 100%;
    width: 100%;
    /* left: 0;
    top: 0;
    bottom: 0;
    right: 0; */
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }

.project-img:hover .overlay {
    opacity: 1;
}

.fadeIn-top{
    top: 20%;
}


/* CONTACT SECTION */
/* TODO: COMPLETE CONTACT SECTION */
/*          [ ] => consider socials icons */
/*          [ ] => to do... */
/*          [ ] => ... */
.contact {
    background: var(--primary-color);
}

.contact a {
    /* TODO: style link font/color */
    color: var(--light-text);
}


/* RESUME SECTION */
/* TODO: COMPLETE RESUME SECTION */
.resume a {
    color: var(--primary-color);
    /* make CTA a button */
}

@media screen and (max-width: 980px) {
    header {
        position: relative;
        padding-bottom: 0;
        justify-content: center;
    }    
}
@media screen and (max-width: 768px) {

    header {
        flex-direction: column;
        text-align: center;
    }
    
    header h1 {
        font-size: 3em;
        padding: 0.3em;
        margin: 0;
    }
    .profile {
        flex-direction: column;
        margin: 2em auto;
    }
    
    .profile-image {
        
        position: static;
        width: 400px;
        height: 400px;
        margin-bottom: 1.5em;
        width: 0;
        height: 0;
   
    }
    header nav {
        /* flex-direction: column; */
        justify-content: center;
        align-content: center;
    }

    header a {
        margin-bottom: .5em;
        font-size: 1.6em;
    }

    section {
        font-size: 1.3rem;
    }

    .hero {
        flex-direction: column;
        align-items: center;
    }

    .hero-text,
    .hero h2 {
        text-align: center;
    }


    .cards {
        margin: 2em -3em;
    }
    .card {
        flex: 40%;
        font-size: .9em;
        flex-direction: column;
        height: auto;
    }
    
    .card:first-child {
        flex: 95%;
               
    }
    .card:first-child .project-img {
        height: 200px;
        flex: 0 0 300px;
    }
    
    .card-img {
        width: 100%;

    }
    .card-img img {
        object-fit: none;
    }

}