/* custom styling */


.content {
  margin-top: calc(8.9vw);
}

.poppins {
  font-family: 'Poppins';
}

.fw-thick {
  font-weight: 700;
}

.rounded-md {
  border-radius: .5rem;
}

.rounded-lg {
  border-radius: 1rem;
}

.c-primary {
  color: #4cbbfb;
}

.nav-sticky {
  position: fixed;
  width: 100vw;
  z-index: +1;
}

.bg-trans{
  background: #fff5;
}

.logo {
  width: calc(10vw + 50px);
  /*
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; */
}
.logo img,
.logo h1 {
  display: inline;
  width: 45%;
}

img{
  width: 100%;
}

.hero-img {
  overflow: hidden;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  border-radius: 50%;
}

.projects-hero {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;

}

.blob {
  position:absolute;
  transform: translate(-50%, -45%);
  width: 120%;
  top: 50%;
  left: 50%;
}

.pfp {
  z-index: +1;
}

/* .btn, */
.btn-primary {
  border-radius: 2rem !important;
  background: #4cbbfb !important;
}

.btn-primary:hover{
  background-color: #18a0ee !important;
}

.btn-primary:visited {
  background-color: #20adff;
}

.bg-main {
  background-color: #4cbbfb;
}

.cardi-img {
  aspect-ratio: 4/3;
  object-fit: cover;
  object-position: center top;
}

.min-vh-50 {
  min-height: 50vh;
}

.collapse:enabled {
  background-color: aliceblue;
}

.ftr-sticky {
  position: sticky;
  top: 0;
}


.fs-r {
  font-size: larger;
}

.resume {
  width: fit-content;
}

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (min-width: 575.98px) {
  .fs-r {
    font-size: medium !important;
  }
  .scroll-cut {
    overflow-y: auto;

  }
 }
/* `md` applies to small devices (landscape phones, less than 768px) */
@media (min-width: 767.98px) {
  .fs-r {
    font-size:medium;
  }
  .scroll-cut {
    overflow-y: auto;
    max-height: 200px;
  }
}
/* `lg` applies to medium devices (tablets, less than 992px) */
@media (min-width: 991.98px) {
  .fs-r {
    font-size:small !important;
  }
}


/* `xl` applies to large devices (desktops, less than 1200px) */
@media (min-width: 1199.98px) {

  .hero .btn {
    max-width: 250px;
  }
  .fs-r {
    font-size: x-small !important;
  }
}
/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (min-width: 1399.98px) {
  /* .fs-r {
    font-size: x-small !important;
  } */
}
